* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

.main2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 180%;
  background: linear-gradient(to right, #83807e, #da799e);
  border-radius: 10px;
}

.error {
  color: red;
}
