* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}
/*

@font-face {
  font-family: "CustomFont";
  src: url("https://fonts.google.com/specimen/Roboto");
}

.page {
  background: linear-gradient(to bottom right, #000000, #eee);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log2 {
  text-shadow: #000000;
  text-decoration: underline;
}

.cover {
  background-color: white;
  height: 35em;
  width: 30em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(100, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logform {
  align-items: center;
}
.fgt {
  padding: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 45%;
  height: 90%;
  border-radius: 0.25em;
  background-color: #fbf9f9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.facebook {
  margin-right: 20px;
  background-image: url("../Components/Assets/facebook.png");
}

.google {
  margin-top: 20px;
  background-image: url("../Components/Assets/search.png");
}

input {
  border: none;
  background-color: rgb(230, 210, 210);
  height: 4em;
  width: 80%;
  padding: 2em;
  border-radius: 0.25em;
  text-align: center;
}

input:focus {
  outline-color: red;
}

.log-btn {
  width: 200%;
  height: 3em;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}

.log-btn:hover {
  transform: scale(1.25);
}

.text {
  position: relative;
  bottom: -2em;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: relative;
  height: 10em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  color: rgb(35, 33, 33);
  bottom: 15em;
  transform: scale(1);
  transition: 0.5s;
  background-color: gray;
}

.back {
  background: linear-gradient(to right, #f1ebf0, #0d0d10);
  opacity: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.log-btn {
  height: 30em;
  width: 5em;
  margin-left: 30em;
}

.forgot {
  margin-top: -400px;
} */

.login-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #83807e, #f9d4e2);
  border-radius: 10px;
}
.login-box {
  margin-left: 0px;
  margin-top: 50px;
}

.loginlogo {
  position: absolute;
  margin-left: -30px;
  margin-top: 200px;
}

.form {
  text-align: left;
}
