* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CustomFont";
}

.login-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(to right, #83807e, #f9d4e2);
  border-radius: 10px;
}
.login-box {
  margin-left: 0px;
  margin-top: -77px;
}

.loginlogo {
  position: absolute;
  margin-left: -30px;
  margin-top: 130px;
}

.form {
  text-align: left;
}
